{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Барбершоп «Бородинский»</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>
<header class="page-header">
    <h1 class="visually-hidden">Барбершоп «Бородинский» - истинно мужская классика</h1>
    <div class="page-header__logo  page-header__logo--inner-page">
        <picture>
            <source media="(min-width: 1200px)" srcset= "{% static 'img/logotype-desktop.svg' %}">
            <source media="(min-width: 768px)" srcset= "{% static 'img/logotype-tablet.svg' %}">
            <img src="{% static 'img/logotype-mobile.svg' %}" width="370" height="153" alt="Барбершоп «Бородинский»">
        </picture>
    </div>
    <nav class="main-nav  main-nav--closed  main-nav--nojs">
        <button class="main-nav__toggle" type="button">Открыть меню</button>
        <div class="main-nav__wrapper">
            <ul class="main-nav__items">
                <li class="main-nav__item"><a href="../">Главная</a></li>
                <li class="main-nav__item"><a href="../work">Наши работы</a></li>
                <li class="main-nav__item  main-nav__item--active"><a>Записаться</a></li>
                <li class="main-nav__item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>
<section class="form">
    <div class="form__wrapper">
        <h2 class="form__title">Запись на стрижку</h2>
			<a class="btn  form__return  form__return--show" href="index.html">На главную</a>
			<form method="post" action="{% url 'page_contact' %}">
			{% csrf_token %}
				<div class="form__field  form__field--fullname">
                <label for="surname">
                    <span class="visually-hidden">Фамилия</span>
                    <input type="text" id="surname" name="last_name" placeholder="Фамилия">
                </label>
                <label for="name">
                    <span class="visually-hidden">Имя</span>
                    <input type="text" id="name" name="first_name" placeholder="Имя">
                </label>
                <label for="patronymic">
                    <span id="patronymic" class="visually-hidden">Отчество</span>
                    <input type="text" name="second_name" placeholder="Отчество">
                </label>
            </div>
            <div class="form__field  form__field--contacts">
                <h3 class="form__field-title">Ваши контакты:</h3>
                <label for="phone"><input id="phone" type="text" name="contact_phone" placeholder="Контактный телефон"></label>
                <label for="email"><input id="email" type="email" name="contact_email" placeholder="Контактный e-mail"></label>
            </div>
            <div class="form__field  form__field--comment">
                <h3 class="form__field-title">Оставьте комментарий для мастера:</h3>
                <textarea name="comment" placeholder="Доп. информация для мастера"></textarea>
				</div>
			<input class="form__apply" type="submit" />
			</form>
    </div>
</section>
<footer class="page-footer">
    <div class="page-footer__wrapper">
        <p class="page-footer__contacts">
            <b>Барбершоп Бородинский</b><br>
            г. Санкт-Петербург, ул. Большая Конюшенная 19/8<br>
            <a class="btn" href="tel:+78125556666">
                <span class="page-footer__phone-show">Тел.:</span> +7 (812) 555-66-66
            </a>
        </p>
        <p class="page-footer__social">
            <span class="page-footer__social-title">Давайте дружить!</span>
            <span class="social-links">
              <a class="social-link  social-link--vk" href="#">Мы в Вконтакте</a>
              <a class="social-link  social-link--fb" href="#">Мы в Фейсбуке</a>
              <a class="social-link  social-link--ig" href="#">Мы в Инстаграме</a>
            </span>
        </p>
        <p class="page-footer__copyright">
            Разработано:
            <a class="btn" href="#">#</a>
        </p>
    </div>
</footer>
<section class="modal-login">
    <h2 class="modal-login__title">Личный кабинет</h2>
    <p>Введите свой логин и пароль, чтобы войти</p>
    <form class="modal-login__form" action="#" method="POST">
        <label for="login">
            <input type="text" id="login" placeholder="Логин">
        </label>
        <label for="password">
            <input type="text" id="password" placeholder="Пароль">
        </label>
        <input type="checkbox" name="remember" id="remember">
        <label for="remember"><span></span>Запомнить меня</label>
        <a href="#">Я забыл пароль!</a>
        <button class="modal-login__enter" type="submit">Войти</button>
        <button class="modal-login__close  btn" type="button">Закрыть</button>
    </form>
</section>
<section class="modal-failure">
    <h2 class="modal-failure__title">Неудача</h2>
    <p>Что-то пошло не так. Проверьте выделенные красным поля формы</p>
    <button class="modal-failure__close  btn">Ок</button>
</section>
<section class="modal-success">
    <h2 class="modal-success__title">Это успех!</h2>
    <p>Ваша заявка отправлена.<br>Ожидайте, мы свяжемся с вами как только будет минутка.</p>
    <button class="modal-success__close  btn">Закрыть окно</button>
</section>
<script src="js/script.js"></script>
</body>
</html>